.modal {
  /* padding: 72px 24px 24px 24px; */

  /* width: 408px; */
  /* min-height: 584px; */
}

.input-container {
  position: relative;
}
.modal-input {
  /* width: 100%; */
}

/* .checkbox {
  margin-bottom: 24px;
} */

/*============== #endregion Modal=================== */

.section-features {
  padding-top: 96px;
  padding-bottom: 96px;
}

.feature-menu {
  display: flex;
  flex-wrap: wrap;
}

.feature-list-item {
  width: calc((100% - 72px) / 2);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 64px;
  column-gap: 24px;
}

/*================ section features================ */

.feature-item {
  font-weight: 500;
  font-size: 20px;
}
.feature-list-item {
  width: calc((100% - 72px) / 4);
}
.feature-text {
  font-weight: 400;
}
